# Ignore raw datasets
/data/hotpot_train_v1.1.json
/data/hotpot_dev_distractor_v1.json
*.zip

# Allow curated experiment datasets
!data/d1_100.json
!data/d2_20_contradictions.json
!data/hotpot_sample.json